<!-- wp:template-part {"slug":"header","theme":"dmbc-tools"} /-->

<!-- wp:group {"tagName":"main","className":"dmbc-member-update-container","layout":{"type":"constrained"}} -->
<main class="wp-block-group dmbc-member-update-container">
	<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"2.5rem"}}} /-->

	<!-- wp:group {"className":"dmbc-member-update-meta","layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
	<div class="wp-block-group dmbc-member-update-meta">
		<!-- wp:post-date {"format":"F j, Y"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"dmbc-tools"} /-->
